openapi: 3.0.1
info:
  title: Billmate Online API v2.0
  description: Billmate Online API endpoints
  version: 2022-08-05
servers:
  - url: https://api.online.billmate.se/
    description: Production server
  - url: http://localhost:3005
    description: Localhost server
tags:
  - name: articles
    description: Operations about the articles of a merchant
  - name: conversations
    description: Conversations between merchants and Billmate
  - name: countries
    description: Returns the countries that are supported
  - name: creditflow
    description: Operations about the credit flow
  - name: currencies
    description: Returns the currencies are supported
  - name: customers
    description: Operations about the customers of a merchant
  - name: documents
    description: Operations about the document
  - name: feedback
    description: Operations about the feedback
  - name: invoices
    description: Operations about the invoices
  - name: languages
    description: Returns the languages that are supported
  - name: logos
    description: Operations about the merchant
  - name: merchant
    description: Operations about the merchant
  - name: register
    description: Operations about the register
  - name: reports
    description: Operations about the reports of a merchant
  - name: users
    description: Operations about the users of a merchant
  - name: whitelists
    description: Operations about the whitelists
paths:
  /articles:
    get:
      description: List all articles
      tags:
        - articles
      parameters:
        - $ref: "#/parameters/articlefilter"
        - $ref: "#/parameters/articlefrom"
        - $ref: "#/parameters/articleto"
        - $ref: "#/parameters/articlesearchnumber"
        - $ref: "#/parameters/articlesearchname"
        - $ref: "#/parameters/articlesearcharticle"
        - $ref: "#/parameters/articlesbycurrency"
        - $ref: "#/parameters/articlesbytaxrate"
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Article"
        "500":
          description: Internal server error
      security:
        - bearerAuth: []
    post:
      description: |
        Create a new article
      tags:
        - articles
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Article"
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Article"
        "400":
          description: |
            Bad request
        "500":
          description: Internal server error
      security:
        - bearerAuth: []
    delete:
      summary: Delete multiple articles
      description: Remove more than one article
      tags:
        - articles
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: integer
                example: 10000
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: string
                  count:
                    type: integer
                example:
                  result: Removed
                  count: 2
        "500":
          description: Internal server error
      security:
        - bearerAuth: []
  /articles/count:
    get:
      description: Count articles
      tags:
        - articles
      parameters:
        - $ref: "#/parameters/articlefilter"
        - $ref: "#/parameters/articlefrom"
        - $ref: "#/parameters/articleto"
        - $ref: "#/parameters/articlesearchnumber"
        - $ref: "#/parameters/articlesearchname"
        - $ref: "#/parameters/articlesearcharticle"
        - $ref: "#/parameters/articlesbycurrency"
        - $ref: "#/parameters/articlesbytaxrate"
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: integer
                    description: The number of articles that matches the filters used
                    example: 7
        "500":
          description: Internal server error
      security:
        - bearerAuth: []
  "/articles/{id}":
    get:
      description: Get the article for the given id
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: integer
            minimum: 1
          description: The article id
      tags:
        - articles
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Article"
        "404":
          description: |
            Not found
        "500":
          description: Internal server error
      security:
        - bearerAuth: []
    patch:
      description: Update an article
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: integer
            minimum: 1
          description: The article id
      tags:
        - articles
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Article"
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Article"
        "400":
          description: |
            Bad request
        "404":
          description: |
            Not found

            The article could not be found
        "500":
          description: Internal server error
      security:
        - bearerAuth: []
    delete:
      description: Delete an article
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: integer
            minimum: 1
          description: The article id
      tags:
        - articles
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                  query_id:
                    type: integer
                example:
                  status: DELETED
                  query_id: 1000
        "404":
          description: |
            Not found

            The article could not be found
        "500":
          description: Internal server error
      security:
        - bearerAuth: []
  /conversations:
    get:
      description: List all conversations
      tags:
        - conversations
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Conversation"
        "500":
          description: Internal server error
      security:
        - bearerAuth: []
    post:
      description: >
        Create a new conversation


        If the payload contains a message then a new message will be created and assigned to this conversation
      tags:
        - conversations
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Conversation"
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Conversation"
        "400":
          description: >
            Bad request


            If no payload is given then the server will answer with a Bad Request
        "500":
          description: Internal server error
      security:
        - bearerAuth: []
  "/conversations/{id}":
    get:
      description: Get the conversation for the given id
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: integer
            minimum: 1
          description: The conversation id
      tags:
        - conversations
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Conversation"
        "404":
          description: |
            Not found

            The conversation was not found
        "500":
          description: Internal server error
      security:
        - bearerAuth: []
    patch:
      description: Update a conversation
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: integer
            minimum: 1
          description: The conversation id
      tags:
        - conversations
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Conversation"
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Conversation"
        "400":
          description: >
            Bad request


            If no payload is given then the server will answer with a Bad Request
        "404":
          description: |
            Not found

            The conversation could not be found
        "500":
          description: Internal server error
      security:
        - bearerAuth: []
    delete:
      description: Delete a conversation and all of its messages.
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: integer
            minimum: 1
          description: The conversation id
      tags:
        - conversations
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                  query_id:
                    type: integer
                example:
                  status: DELETED
                  query_id: 1000
        "404":
          description: |
            Not found

            The conversation could not be found
        "500":
          description: Internal server error
      security:
        - bearerAuth: []
  "/conversations/{id}/messages":
    get:
      description: Get all messages associated with a conversation
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: integer
            minimum: 1
          description: The conversation id
      tags:
        - conversations
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Message"
        "404":
          description: |
            Not found

            The conversation could not be found
        "500":
          description: Internal server error
      security:
        - bearerAuth: []
    post:
      description: Create a new message in a conversation
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: integer
            minimum: 1
          description: The conversation id
      tags:
        - conversations
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Message"
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Message"
        "400":
          description: >
            Bad request


            If no payload is given then the server will answer with a Bad Request
        "404":
          description: |
            Not found

            The conversation could not be found
        "500":
          description: Internal server error
      security:
        - bearerAuth: []
  /countries:
    get:
      summary: Get the countries
      description: Returns a list of countries
      tags:
        - countries
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Country"
        "401":
          description: Token is missing
        "404":
          description: Not found
        "500":
          description: Internal server error
      security:
        - bearerAuth: []
  "/creditflow/search/{orgNum}":
    get:
      summary: Get the gln numbers of an organization by organization number
      description: Returns a list of gln numbers of an organization
      tags:
        - creditflow
      parameters:
        - name: orgNum
          in: path
          description: Social security number (SSN) or organisation number
          required: true
          schema:
            type: string
          example: 550101-1018
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  type: integer
                  example: 10000
        "401":
          description: Token is missing
        "404":
          description: Not found
        "500":
          description: Internal server error
      security:
        - bearerAuth: []
  /currencies:
    get:
      summary: Get the currencies
      description: Returns a list of currencies
      tags:
        - currencies
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Currency"
        "401":
          description: Token is missing
        "404":
          description: Not found
        "500":
          description: Internal server error
      security:
        - bearerAuth: []
  /customers:
    get:
      summary: Get the customers of a merchant
      description: Returns a list of customers of a merchant
      tags:
        - customers
      parameters:
        - $ref: "#/parameters/customerlimit"
        - $ref: "#/parameters/customerstart"
        - $ref: "#/parameters/customerfilter"
        - $ref: "#/parameters/customerfrom"
        - $ref: "#/parameters/customerto"
        - $ref: "#/parameters/customersearch"
        - $ref: "#/parameters/customersearchinvoiceform"
        - $ref: "#/parameters/isPrivate"
        - $ref: "#/parameters/isCompany"
        - $ref: "#/parameters/isEFaktura"
        - $ref: "#/parameters/isReverseTax"
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Customer"
        "401":
          description: Token is missing
        "404":
          description: Not found
        "500":
          description: Internal server error
      security:
        - bearerAuth: []
    post:
      summary: Place a customer for a Merchant
      description: Place a new customer in the customers of a Merchant
      tags:
        - customers
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Customer"
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Customer"
        "401":
          description: Token is missing
        "500":
          description: Internal server error
      security:
        - bearerAuth: []
    delete:
      summary: Delete multiple customers
      description: Remove more than one customer
      tags:
        - customers
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: integer
                example: 10000
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: string
                  count:
                    type: integer
                example:
                  result: Removed
                  count: 2
        "401":
          description: Token is missing
        "500":
          description: Internal server error
      security:
        - bearerAuth: []
  /customers/count:
    get:
      summary: Get the number of matching customers according to the supplied filters
      description: Returns object with a count representing the number of customers
        that matches the current filter.
      tags:
        - customers
      parameters:
        - $ref: "#/parameters/customerfilter"
        - $ref: "#/parameters/customerfrom"
        - $ref: "#/parameters/customerto"
        - $ref: "#/parameters/customersearch"
        - $ref: "#/parameters/customersearchinvoiceform"
        - $ref: "#/parameters/isPrivate"
        - $ref: "#/parameters/isCompany"
        - $ref: "#/parameters/isEFaktura"
        - $ref: "#/parameters/isReverseTax"
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: integer
                    description: The number of customers that matches the filters used
                    example: 7
        "400":
          description: Bad request
        "401":
          description: Token is missing
      security:
        - bearerAuth: []
  "/customers/{mexcParamvaluesetsid}":
    get:
      summary: Find customer by mexcParamvaluesetsid
      description: Returns a single customer
      tags:
        - customers
      parameters:
        - name: mexcParamvaluesetsid
          in: path
          description: The requested id of the customer to return
          required: true
          schema:
            type: integer
            format: int64
          example: 1202237
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Customer"
        "401":
          description: Token is missing
        "404":
          description: Customer is not found
      security:
        - bearerAuth: []
    patch:
      summary: Update an existing customer
      description: Update an existing customer by mexcParamvaluesetsid
      tags:
        - customers
      parameters:
        - name: mexcParamvaluesetsid
          in: path
          description: The requested id of the customer to return
          required: true
          schema:
            type: integer
            format: int64
          example: 1202237
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Customer"
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Customer"
        "401":
          description: Token is missing
        "404":
          description: Customer is not found
        "500":
          description: Internal server error
      security:
        - bearerAuth: []
    delete:
      summary: Delete a customer
      description: Removes a customer
      tags:
        - customers
      parameters:
        - name: mexcParamvaluesetsid
          in: path
          description: The requested id of the customer to return
          required: true
          schema:
            type: integer
            format: int64
          example: 10000
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: string
                  mexcParamvaluesetsid:
                    type: integer
                example:
                  result: Removed
                  mexcParamvaluesetsid: 10000
        "401":
          description: Token is missing
        "404":
          description: Customer is not found
      security:
        - bearerAuth: []
  "/customers/searchByOrgNumber/{orgNum}":
    get:
      summary: Get the person/company details by orgNum
      description: Returns the details of the person/company
      tags:
        - customers
      parameters:
        - name: orgNum
          in: path
          description: Social security number (SSN) or organisation number
          required: true
          schema:
            type: string
          example: 550101-1018
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/addressResponse"
        "400":
          description: Bad request
      security:
        - bearerAuth: []
  /customers/export/xml:
    get:
      summary: Export the customers as XML
      description: Returns a XML file that includes the customers
      tags:
        - customers
      responses:
        "200":
          description: Successful operation
          content:
            application/xml:
              schema:
                type: string
        "404":
          description: Not Found
      security:
        - bearerAuth: []
    post:
      summary: Export multiple customers as XML
      description: Export the customers that are required
      tags:
        - customers
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: integer
                example: 10000
      responses:
        "200":
          description: Successful operation
          content:
            application/xml:
              schema:
                type: string
        "404":
          description: Not Found
      security:
        - bearerAuth: []
  /customers/export/csv:
    get:
      summary: Export the customers as CSV
      description: Returns a CSV file that includes the customers
      tags:
        - customers
      responses:
        "200":
          description: Successful operation
          content:
            text/csv:
              schema:
                type: string
        "404":
          description: Not Found
      security:
        - bearerAuth: []
    post:
      summary: Export multiple customers as CSV
      description: Export the customers that are required
      tags:
        - customers
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: integer
                example: 10000
      responses:
        "200":
          description: Successful operation
          content:
            text/csv:
              schema:
                type: string
        "404":
          description: Not Found
      security:
        - bearerAuth: []
  "/documents/collect/{orderRef}":
    get:
      summary: Check the bankid token
      description: Checks the bankid token
      tags:
        - documents
      parameters:
        - name: orderRef
          in: path
          description: The token for bank id
          required: true
          schema:
            type: string
          example: 6dcd4d3d-faa8-4137-a492-c7679c99e76e
      responses:
        "200":
          description: Bankid Response
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/CustomerKnowledgeBankidCollectResponse"
                  - $ref: "#/components/schemas/CustomerKnowledgeMailSend"
        "400":
          description: Bad Request
          content:
            plain/text:
              schema:
                type: string
                example: Type should be company or association
        "500":
          description: Internal server error
      security:
        - bearerAuth: []
  "/documents/{name}/{id}/attachments":
    post:
      summary: Upload attachments
      description: Upload attachments
      tags:
        - documents
      parameters:
        - name: name
          in: path
          description: The form name
          required: true
          schema:
            type: string
            example: customerKnowledgeCompany
        - name: id
          in: path
          description: Unique id
          required: true
          schema:
            type: string
            format: uuid
            example: 0af3af2f-00ad-430d-9cd2-6c7332249b97
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                attachments:
                  type: array
                  items:
                    type: string
                    format: binary
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Attachments are uploaded
        "400":
          description: Bad Request
          content:
            plain/text:
              schema:
                type: string
                example: Id is invalid
        "500":
          description: Internal server error
      security:
        - bearerAuth: []
  "/documents/{name}/{id}/sign":
    post:
      summary: Sign the document by Bankid
      description: Signs the document by Bankid
      tags:
        - documents
      parameters:
        - name: name
          in: path
          description: The form name
          required: true
          schema:
            type: string
            example: customerKnowledgeCompany
        - name: id
          in: path
          description: Unique id
          required: true
          schema:
            type: string
            format: uuid
            example: 0af3af2f-00ad-430d-9cd2-6c7332249b97
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                pno:
                  type: string
                  example: 550101-1018
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/CustomerKnowledgeBankidSignSuccessMessage"
                  - $ref: "#/components/schemas/CustomerKnowledgeBankidSignErrorMessage"
        "400":
          description: Bad Request
          content:
            plain/text:
              schema:
                type: string
                example: Type should be company or association
        "500":
          description: Internal server error
      security:
        - bearerAuth: []
  "/documents/{name}":
    post:
      summary: Post form data
      description: Posts form data
      tags:
        - documents
      parameters:
        - name: name
          in: path
          description: The form name
          required: true
          schema:
            type: string
          example: customerKnowledgeCompany
      requestBody:
        content:
          application/json:
            schema:
              oneOf:
                - $ref: "#/components/schemas/CustomerKnowledgeCompany"
                - $ref: "#/components/schemas/CustomerKnowledgeAssociation"
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: uuid
        "400":
          description: Bad Request
          content:
            plain/text:
              schema:
                type: string
                example: Type should be company or association
        "500":
          description: Internal server error
      security:
        - bearerAuth: []
  /feedback:
    post:
      summary: Send a feedback of the customer with rate,feedback and useragent
      description: Sends a feedback of the customer with rate,feedback and useragent
      tags:
        - feedback
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                rate:
                  type: string
                  example: Test-rate
                feedback:
                  type: string
                  example: Test-Feedback
                useragent:
                  type: string
                  example: Test-Useragent
      responses:
        "200":
          description: Successful operation
          content:
            plain/text:
              schema:
                type: string
                example: ok
        "400":
          description: Missing some required properties
          content:
            plain/text:
              schema:
                oneOf:
                  - type: string
                    example: Missing rate
                  - type: string
                    example: Missing feedback
                  - type: string
                    example: Missing useragent
        "500":
          description: Internal server error
      security:
        - bearerAuth: []
  /invoices:
    get:
      summary: Get the invoices for a merchant
      description: Returns a list of invoices for a merchant
      tags:
        - invoices
      parameters:
        - $ref: "#/parameters/invoicelimit"
        - $ref: "#/parameters/invoicestart"
        - $ref: "#/parameters/invoicefilter"
        - $ref: "#/parameters/invoicefrom"
        - $ref: "#/parameters/invoiceto"
        - $ref: "#/parameters/invoicedeliverydatefrom"
        - $ref: "#/parameters/invoicedeliverydateto"
        - $ref: "#/parameters/invoiceduedatefrom"
        - $ref: "#/parameters/invoiceduedateto"
        - $ref: "#/parameters/invoiceinvoicedatefrom"
        - $ref: "#/parameters/invoiceinvoicedateto"
        - $ref: "#/parameters/invoicedatepaidfrom"
        - $ref: "#/parameters/invoicedatepaidto"
        - $ref: "#/parameters/invoicedatesentfrom"
        - $ref: "#/parameters/invoicedatesentto"
        - $ref: "#/parameters/invoiceiscard"
        - $ref: "#/parameters/invoiceisswish"
        - $ref: "#/parameters/invoiceiscash"
        - $ref: "#/parameters/invoiceispartpayment"
        - $ref: "#/parameters/invoiceis14days"
        - $ref: "#/parameters/invoiceis30days"
        - $ref: "#/parameters/invoiceisfactoring"
        - $ref: "#/parameters/invoiceishandling"
        - $ref: "#/parameters/invoiceisconverted"
        - $ref: "#/parameters/invoicesearch"
        - $ref: "#/parameters/invoicecountry"
        - $ref: "#/parameters/invoicecustomerno"
        - $ref: "#/parameters/invoiceinvoicetype"
        - $ref: "#/parameters/invoicehascredit"
        - $ref: "#/parameters/invoicexoverridetest"
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/InvoiceRaw"
        "400":
          description: Bad request
        "401":
          description: Token is missing
        "404":
          description: Not found
        "500":
          description: Internal server error
      security:
        - bearerAuth: []
    post:
      summary: Create a new invoice
      description: Create a new invoice
      tags:
        - invoices
      parameters:
        - in: header
          name: X-overrideTest
          description: >
            If this header value is set to "true" the internal checking for
            test mode is skipped.


            Please note that this only have effect on test systems.
          schema:
            type: string
            example: "true"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Invoice"
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/InvoiceResponse"
                  - type: object
                    properties:
                      status:
                        allOf:
                          - $ref: "#/components/schemas/InvoiceStatus"
                          - example: Created
        "400":
          description: Bad request
        "401":
          description: Token is missing
        "500":
          description: Internal server error
      security:
        - bearerAuth: []
  /invoices/count:
    get:
      summary: Get the number of matching invoices according to the supplied filters
      description: Returns object with a count representing the number of invoices
        that matches the current filter.
      tags:
        - invoices
      parameters:
        - $ref: "#/parameters/invoicelimit"
        - $ref: "#/parameters/invoicestart"
        - $ref: "#/parameters/invoicefilter"
        - $ref: "#/parameters/invoicefrom"
        - $ref: "#/parameters/invoiceto"
        - $ref: "#/parameters/invoicedeliverydatefrom"
        - $ref: "#/parameters/invoicedeliverydateto"
        - $ref: "#/parameters/invoiceduedatefrom"
        - $ref: "#/parameters/invoiceduedateto"
        - $ref: "#/parameters/invoiceinvoicedatefrom"
        - $ref: "#/parameters/invoiceinvoicedateto"
        - $ref: "#/parameters/invoicedatepaidfrom"
        - $ref: "#/parameters/invoicedatepaidto"
        - $ref: "#/parameters/invoicedatesentfrom"
        - $ref: "#/parameters/invoicedatesentto"
        - $ref: "#/parameters/invoiceiscard"
        - $ref: "#/parameters/invoiceisswish"
        - $ref: "#/parameters/invoiceiscash"
        - $ref: "#/parameters/invoiceispartpayment"
        - $ref: "#/parameters/invoiceis14days"
        - $ref: "#/parameters/invoiceis30days"
        - $ref: "#/parameters/invoiceisfactoring"
        - $ref: "#/parameters/invoiceishandling"
        - $ref: "#/parameters/invoiceisconverted"
        - $ref: "#/parameters/invoicesearch"
        - $ref: "#/parameters/invoicecountry"
        - $ref: "#/parameters/invoicecustomerno"
        - $ref: "#/parameters/invoiceinvoicetype"
        - $ref: "#/parameters/invoicehascredit"
        - $ref: "#/parameters/invoicexoverridetest"
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: integer
                    description: The number of invoices that matches the filters used
                    example: 7
        "400":
          description: Bad request
        "401":
          description: Token is missing
      security:
        - bearerAuth: []
  /invoices/activate:
    post:
      summary: Activate multiple invoices by invoiceNumber
      description: Activate multiple invoices
      tags:
        - invoices
      parameters:
        - in: header
          name: X-overrideTest
          description: >
            If this header value is set to "true" the internal checking for
            test mode is skipped.


            Please note that this only have effect on test systems.
          schema:
            type: string
            example: "true"
      requestBody:
        description: The requested invoice numbers of the invoices to activate
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                type: integer
                format: int64
              example:
                - 1202237
                - 1202238
                - 1202239
      responses:
        "200":
          description: Successful operation. Since this is a hybrid call it will only
            return 200 or 401. Any errors will be found in the error part of the
            returned object.
          content:
            application/json:
              example:
                result:
                  "1202237":
                    number: "1202237"
                    orderid: "12346"
                    status: Factoring
                    url: https://invoice.billmate.se/12022371202237c38f1cdf279
                  "1202238":
                    number: "1202238"
                    orderid: "12346"
                    status: Factoring
                    url: https://invoice.billmate.se/12022381202238c38f1cdf273
                error:
                  "1202239": 5201 - Fakturanummer 1202239 som du efterfrågade existerar inte.
        "401":
          description: Token is missing
      security:
        - bearerAuth: []
  /invoices/cancel:
    post:
      summary: Cancel multiple invoices by invoiceNumber
      description: Cancel an invoices
      tags:
        - invoices
      requestBody:
        description: The requested invoice numbers of the invoices to cancel
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                type: integer
                format: int64
              example:
                - 1202237
                - 1202238
                - 1202239
      parameters:
        - in: header
          name: X-overrideTest
          description: >
            If this header value is set to "true" the internal checking for
            test mode is skipped.


            Please note that this only have effect on test systems.
          schema:
            type: string
            example: "true"
      responses:
        "200":
          description: Successful operation. Since this is a hybrid call it will only
            return 200 or 401. Any errors will be found in the error part of the
            returned object.
          content:
            application/json:
              example:
                result:
                  "1202237":
                    number: "1202237"
                    orderid: "12346"
                    status: Cancelled
                    url: https://invoice.billmate.se/12022371202237c38f1cdf279
                  "1202238":
                    number: "1202238"
                    orderid: "12346"
                    status: Cancelled
                    url: https://invoice.billmate.se/12022381202238c38f1cdf273
                error:
                  "1202239": 5201 - Fakturanummer 1202239 som du efterfrågade existerar inte.
        "401":
          description: Token is missing
      security:
        - bearerAuth: []
  /invoices/credit:
    post:
      summary: Credit multiple invoices by invoiceNumber
      description: Credit an invoices
      tags:
        - invoices
      requestBody:
        description: The requested invoice numbers of the invoices to credit
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                type: integer
                format: int64
              example:
                - 1202237
                - 1202238
                - 1202239
      parameters:
        - in: header
          name: X-overrideTest
          description: >
            If this header value is set to "true" the internal checking for
            test mode is skipped.


            Please note that this only have effect on test systems.
          schema:
            type: string
            example: "true"
      responses:
        "200":
          description: Successful operation. Since this is a hybrid call it will only
            return 200 or 401. Any errors will be found in the error part of the
            returned object.
          content:
            application/json:
              example:
                result:
                  "1202237":
                    number: "1202237"
                    orderid: "12346"
                    status: Credited
                    url: https://invoice.billmate.se/12022371202237c38f1cdf279
                  "1202238":
                    number: "1202238"
                    orderid: "12346"
                    status: Credited
                    url: https://invoice.billmate.se/12022381202238c38f1cdf273
                error:
                  "1202239": 5201 - Fakturanummer 1202239 som du efterfrågade existerar inte.
        "401":
          description: Token is missing
      security:
        - bearerAuth: []
  /invoices/statistics/services:
    get:
      summary: Get data per service
      description: Return data for services per currency
      tags:
        - invoices
      parameters:
        - $ref: "#/parameters/invoicefilter"
        - $ref: "#/parameters/invoicefrom"
        - $ref: "#/parameters/invoiceto"
        - $ref: "#/parameters/invoicedeliverydatefrom"
        - $ref: "#/parameters/invoicedeliverydateto"
        - $ref: "#/parameters/invoiceduedatefrom"
        - $ref: "#/parameters/invoiceduedateto"
        - $ref: "#/parameters/invoiceinvoicedatefrom"
        - $ref: "#/parameters/invoiceinvoicedateto"
        - $ref: "#/parameters/invoicedatepaidfrom"
        - $ref: "#/parameters/invoicedatepaidto"
        - $ref: "#/parameters/invoicedatesentfrom"
        - $ref: "#/parameters/invoicedatesentto"
        - $ref: "#/parameters/invoiceiscard"
        - $ref: "#/parameters/invoiceisswish"
        - $ref: "#/parameters/invoiceiscash"
        - $ref: "#/parameters/invoiceispartpayment"
        - $ref: "#/parameters/invoiceis14days"
        - $ref: "#/parameters/invoiceis30days"
        - $ref: "#/parameters/invoiceisfactoring"
        - $ref: "#/parameters/invoiceishandling"
        - $ref: "#/parameters/invoiceisconverted"
        - $ref: "#/parameters/invoicesearch"
        - $ref: "#/parameters/invoicecountry"
        - $ref: "#/parameters/invoicecustomerno"
        - $ref: "#/parameters/invoiceinvoicetype"
        - $ref: "#/parameters/invoicehascredit"
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  SEK:
                    type: object
                    properties:
                      total:
                        type: number
                        example: 12321
                      number:
                        type: number
                        example: 906
                      services:
                        type: object
                        properties:
                          factoring:
                            type: number
                            example: 1223
                          service:
                            type: number
                            example: 12
                          direct:
                            type: number
                            example: 1234
                          ownagreement:
                            type: object
                            properties:
                              card:
                                type: number
                                example: 213
                              bank:
                                type: number
                                example: 1234
                              swish:
                                type: number
                                example: 2134
        "400":
          description: Bad request
        "401":
          description: Token is missing
      security:
        - bearerAuth: []
  /invoices/statistics/not-activted:
    get:
      summary: Get data for not activated invoices
      description: Return data for not activated invoices per currency
      tags:
        - invoices
      parameters:
        - $ref: "#/parameters/invoicefilter"
        - $ref: "#/parameters/invoicefrom"
        - $ref: "#/parameters/invoiceto"
        - $ref: "#/parameters/invoicedeliverydatefrom"
        - $ref: "#/parameters/invoicedeliverydateto"
        - $ref: "#/parameters/invoiceduedatefrom"
        - $ref: "#/parameters/invoiceduedateto"
        - $ref: "#/parameters/invoiceinvoicedatefrom"
        - $ref: "#/parameters/invoiceinvoicedateto"
        - $ref: "#/parameters/invoicedatepaidfrom"
        - $ref: "#/parameters/invoicedatepaidto"
        - $ref: "#/parameters/invoicedatesentfrom"
        - $ref: "#/parameters/invoicedatesentto"
        - $ref: "#/parameters/invoiceiscard"
        - $ref: "#/parameters/invoiceisswish"
        - $ref: "#/parameters/invoiceiscash"
        - $ref: "#/parameters/invoiceispartpayment"
        - $ref: "#/parameters/invoiceis14days"
        - $ref: "#/parameters/invoiceis30days"
        - $ref: "#/parameters/invoiceisfactoring"
        - $ref: "#/parameters/invoiceishandling"
        - $ref: "#/parameters/invoiceisconverted"
        - $ref: "#/parameters/invoicesearch"
        - $ref: "#/parameters/invoicecountry"
        - $ref: "#/parameters/invoicecustomerno"
        - $ref: "#/parameters/invoiceinvoicetype"
        - $ref: "#/parameters/invoicehascredit"
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              example:
                SEK:
                  total: 25000
                  number: 100
                  creditcheckStatus:
                    approved: 50
                    pending: 25
                    rejected: 20
                    other: 5
        "400":
          description: Bad request
        "401":
          description: Token is missing
      security:
        - bearerAuth: []
  /invoices/statistics/paymentmethods:
    get:
      summary: Get data per payment method
      description: Return data for payment methods per currency
      tags:
        - invoices
      parameters:
        - $ref: "#/parameters/invoicefilter"
        - $ref: "#/parameters/invoicefrom"
        - $ref: "#/parameters/invoiceto"
        - $ref: "#/parameters/invoicedeliverydatefrom"
        - $ref: "#/parameters/invoicedeliverydateto"
        - $ref: "#/parameters/invoiceduedatefrom"
        - $ref: "#/parameters/invoiceduedateto"
        - $ref: "#/parameters/invoiceinvoicedatefrom"
        - $ref: "#/parameters/invoiceinvoicedateto"
        - $ref: "#/parameters/invoicedatepaidfrom"
        - $ref: "#/parameters/invoicedatepaidto"
        - $ref: "#/parameters/invoicedatesentfrom"
        - $ref: "#/parameters/invoicedatesentto"
        - $ref: "#/parameters/invoiceiscard"
        - $ref: "#/parameters/invoiceisswish"
        - $ref: "#/parameters/invoiceiscash"
        - $ref: "#/parameters/invoiceispartpayment"
        - $ref: "#/parameters/invoiceis14days"
        - $ref: "#/parameters/invoiceis30days"
        - $ref: "#/parameters/invoiceisfactoring"
        - $ref: "#/parameters/invoiceishandling"
        - $ref: "#/parameters/invoiceisconverted"
        - $ref: "#/parameters/invoicesearch"
        - $ref: "#/parameters/invoicecountry"
        - $ref: "#/parameters/invoicecustomerno"
        - $ref: "#/parameters/invoiceinvoicetype"
        - $ref: "#/parameters/invoicehascredit"
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              example:
                SEK:
                  total: 25000
                  number: 100
                  paymentmethods:
                    invoice14:
                      total: 5000
                      number: 20
                    invoice30:
                      total: 5000
                      number: 20
                    partpayment:
                      total: 5000
                      number: 20
                    cardpayment:
                      total: 5000
                      number: 20
                    swishpayment:
                      total: 5000
                      number: 20
        "400":
          description: Bad request
        "401":
          description: Token is missing
      security:
        - bearerAuth: []
  /invoices/statistics/groupedData:
    get:
      summary: Get grouped data summed up per day and currency
      description: Returns data per day separated by currency
      tags:
        - invoices
      parameters:
        - $ref: "#/parameters/invoicefilter"
        - $ref: "#/parameters/invoicefrom"
        - $ref: "#/parameters/invoiceto"
        - $ref: "#/parameters/invoicedeliverydatefrom"
        - $ref: "#/parameters/invoicedeliverydateto"
        - $ref: "#/parameters/invoiceduedatefrom"
        - $ref: "#/parameters/invoiceduedateto"
        - $ref: "#/parameters/invoiceinvoicedatefrom"
        - $ref: "#/parameters/invoiceinvoicedateto"
        - $ref: "#/parameters/invoicedatepaidfrom"
        - $ref: "#/parameters/invoicedatepaidto"
        - $ref: "#/parameters/invoicedatesentfrom"
        - $ref: "#/parameters/invoicedatesentto"
        - $ref: "#/parameters/invoiceiscard"
        - $ref: "#/parameters/invoiceisswish"
        - $ref: "#/parameters/invoiceiscash"
        - $ref: "#/parameters/invoiceispartpayment"
        - $ref: "#/parameters/invoiceis14days"
        - $ref: "#/parameters/invoiceis30days"
        - $ref: "#/parameters/invoiceisfactoring"
        - $ref: "#/parameters/invoiceishandling"
        - $ref: "#/parameters/invoiceisconverted"
        - $ref: "#/parameters/invoicesearch"
        - $ref: "#/parameters/invoicecountry"
        - $ref: "#/parameters/invoicecustomerno"
        - $ref: "#/parameters/invoiceinvoicetype"
        - $ref: "#/parameters/invoicehascredit"
        - $ref: "#/parameters/invoicedatefield"
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              example:
                SEK:
                  type: array
                  items:
                    type: object[]
                    items:
                      date: 2022-01-01
                      total: 100
        "400":
          description: Bad request
        "401":
          description: Token is missing
      security:
        - bearerAuth: []
  "/invoices/{invoiceNumber}":
    get:
      summary: Find invoice by invoiceNumber
      description: Returns an invoice
      tags:
        - invoices
      parameters:
        - name: invoiceNumber
          in: path
          description: The requested invoice number of the invoice to return
          required: true
          schema:
            type: integer
            format: int64
          example: 1202237
        - in: header
          name: X-overrideTest
          description: >
            If this header value is set to "true" the internal checking for
            test mode is skipped.


            Please note that this only have effect on test systems.
          schema:
            type: string
            example: "true"
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Invoice"
        "400":
          description: Bad request
        "401":
          description: Token is missing
        "404":
          description: Invoice is not found
      security:
        - bearerAuth: []
    patch:
      summary: Update an existing invoice
      description: Update an existing invoice by invoice number
      tags:
        - invoices
      parameters:
        - name: invoiceNumber
          in: path
          description: The requested invoice number of the invoice to update
          required: true
          schema:
            type: integer
            format: int64
          example: 1202237
        - in: header
          name: X-overrideTest
          description: >
            If this header value is set to "true" the internal checking for
            test mode is skipped.


            Please note that this only have effect on test systems.
          schema:
            type: string
            example: "true"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Invoice"
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/InvoiceResponse"
                  - type: object
                    properties:
                      status:
                        allOf:
                          - $ref: "#/components/schemas/InvoiceStatus"
                          - example: Created
        "400":
          description: Bad Request
        "401":
          description: Token is missing
        "404":
          description: Invoice is not found
        "500":
          description: Internal server error
      security:
        - bearerAuth: []
    delete:
      summary: Delete an invoice
      description: Cancels the invoice rather than deletes it
      tags:
        - invoices
      parameters:
        - name: invoiceNumber
          in: path
          description: The requested invoice number of the invoice to return
          required: true
          schema:
            type: integer
            format: int64
          example: 10000
        - in: header
          name: X-overrideTest
          description: >
            If this header value is set to "true" the internal checking for
            test mode is skipped.


            Please note that this only have effect on test systems.
          schema:
            type: string
            example: "true"
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/InvoiceResponse"
                  - type: object
                    properties:
                      status:
                        allOf:
                          - $ref: "#/components/schemas/InvoiceStatus"
                          - example: Cancelled
        "400":
          description: Bad request
        "401":
          description: Token is missing
        "404":
          description: Invoice is not found
      security:
        - bearerAuth: []
  "/invoices/{invoiceNumber}/activate":
    post:
      summary: Activate invoice by invoiceNumber
      description: Activate an invoice
      tags:
        - invoices
      parameters:
        - name: invoiceNumber
          in: path
          description: The requested invoice number of the invoice to activate
          required: true
          schema:
            type: integer
            format: int64
          example: 1202237
        - in: header
          name: X-overrideTest
          description: >
            If this header value is set to "true" the internal checking for
            test mode is skipped.


            Please note that this only have effect on test systems.
          schema:
            type: string
            example: "true"
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/InvoiceResponse"
                  - type: object
                    properties:
                      status:
                        allOf:
                          - $ref: "#/components/schemas/InvoiceStatus"
                          - example: Factoring
        "400":
          description: Bad request
        "401":
          description: Token is missing
        "404":
          description: Invoice is not found
      security:
        - bearerAuth: []
  "/invoices/{invoiceNumber}/cancel":
    post:
      summary: Cancel invoice by invoiceNumber
      description: Cancel an invoice
      tags:
        - invoices
      parameters:
        - name: invoiceNumber
          in: path
          description: The requested invoice number of the invoice to cancel
          required: true
          schema:
            type: integer
            format: int64
          example: 1202237
        - in: header
          name: X-overrideTest
          description: >
            If this header value is set to "true" the internal checking for
            test mode is skipped.


            Please note that this only have effect on test systems.
          schema:
            type: string
            example: "true"
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/InvoiceResponse"
                  - type: object
                    properties:
                      status:
                        allOf:
                          - $ref: "#/components/schemas/InvoiceStatus"
                          - example: Cancelled
        "400":
          description: Bad request
        "401":
          description: Token is missing
        "404":
          description: Invoice is not found
      security:
        - bearerAuth: []
  "/invoices/{invoiceNumber}/credit":
    post:
      summary: Credit invoice by invoiceNumber
      description: Credit an invoice
      tags:
        - invoices
      parameters:
        - name: invoiceNumber
          in: path
          description: The requested invoice number of the invoice to credit
          required: true
          schema:
            type: integer
            format: int64
          example: 1202237
        - in: header
          name: X-overrideTest
          description: >
            If this header value is set to "true" the internal checking for
            test mode is skipped.


            Please note that this only have effect on test systems.
          schema:
            type: string
            example: "true"
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/InvoiceResponse"
                  - type: object
                    properties:
                      status:
                        allOf:
                          - $ref: "#/components/schemas/InvoiceStatus"
                          - example: Credited
        "400":
          description: Bad request
        "401":
          description: Token is missing
        "404":
          description: Invoice is not found
      security:
        - bearerAuth: []
    get:
      summary: Get the info of the credited invoices that are credited from
        invoiceNumber
      description: Sends the info of the credited invoices
      tags:
        - invoices
      parameters:
        - name: invoiceNumber
          in: path
          description: The requested invoice number of the invoice to return
          required: true
          schema:
            type: integer
            format: int64
          example: 1202237
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  creditInvoices:
                    type: array
                    items:
                      type: number
                  creditInvoiceSum:
                    type: number
                    example: 213
        "400":
          description: Bad request
        "401":
          description: Token is missing
        "404":
          description: Invoice is not found
      security:
        - bearerAuth: []
  "/invoices/{invoiceNumber}/duplicate":
    post:
      summary: Duplicate an invoice by invoiceNumber
      description: Duplicate an invoice
      tags:
        - invoices
      parameters:
        - name: invoiceNumber
          in: path
          description: The requested invoice number of the invoice to duplicate
          required: true
          schema:
            type: integer
            format: int64
          example: 1202237
        - in: header
          name: X-overrideTest
          description: >
            If this header value is set to "true" the internal checking for
            test mode is skipped.


            Please note that this only have effect on test systems.
          schema:
            type: string
            example: "true"
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/InvoiceResponse"
                  - type: object
                    properties:
                      orderid:
                        allOf:
                          - $ref: "#/components/schemas/InvoiceStatus"
                          - example: 4672437-copy
                      status:
                        allOf:
                          - $ref: "#/components/schemas/InvoiceStatus"
                          - example: Created
        "400":
          description: Bad request
        "401":
          description: Token is missing
        "404":
          description: Invoice is not found
      security:
        - bearerAuth: []
  "/invoices/{invoiceNumber}/attachments":
    get:
      summary: Get the attachments of the invoice
      description: Returns the attachments of the invoice of the merchant that owns
        the token
      tags:
        - invoices
      parameters:
        - name: invoiceNumber
          in: path
          description: The requested invoice number of the invoice
          required: true
          schema:
            type: integer
            format: int64
          example: 1202237
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/AmazonS3AttachmentList"
        "401":
          description: Token is missing
        "404":
          description: Not found
        "500":
          description: Internal server error
      security:
        - bearerAuth: []
    post:
      summary: Post the attachment(s) to the invoice
      description: Place a new attachment(s) in the attachments of the invoice of a Merchant
      tags:
        - invoices
      parameters:
        - name: invoiceNumber
          in: path
          description: The requested invoice number of the invoice
          required: true
          schema:
            type: integer
            format: int64
          example: 1202237
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                files:
                  type: array
                  items:
                    type: string
                    format: binary
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  Attachments:
                    type: string
                    example: sample.pdf,sample.1.pdf
        "401":
          description: Token is missing
        "404":
          description: Not found
        "500":
          description: Internal server error
      security:
        - bearerAuth: []
  "/invoices/{invoiceNumber}/attachments/{fileName}":
    get:
      summary: Get the attachment
      description: Returns the attachment
      tags:
        - invoices
      parameters:
        - name: invoiceNumber
          in: path
          description: The requested invoice number of the invoice
          required: true
          schema:
            type: integer
            format: int64
          example: 1202237
        - name: fileName
          in: path
          description: The requested fileName of the attachment of the invoice
          required: true
          schema:
            type: string
            example: attachment.pdf
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AmazonS3Attachment"
        "401":
          description: Token is missing
        "404":
          description: Not found
        "500":
          description: Internal server error
      security:
        - bearerAuth: []
    delete:
      summary: Delete a logo
      description: Removes a logo
      tags:
        - invoices
      parameters:
        - name: invoiceNumber
          in: path
          description: The requested invoice number of the invoice
          required: true
          schema:
            type: integer
            format: int64
          example: 1202237
        - name: fileName
          in: path
          description: The requested fileName of the attachment of the invoice
          required: true
          schema:
            type: string
            example: attachment.pdf
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                example: {}
        "401":
          description: Token is missing
        "404":
          description: Not found
        "500":
          description: Internal server error
      security:
        - bearerAuth: []
  "/invoices/{invoiceNumber}/split":
    post:
      summary: Split an invoice by invoiceNumber
      description: Split an invoice
      tags:
        - invoices
      parameters:
        - in: path
          name: invoiceNumber
          description: The requested invoice number of the invoice to split
          required: true
          schema:
            type: integer
            format: int64
          example: 1202237
        - in: header
          name: X-overrideTest
          description: >
            If this header value is set to "true" the internal checking for
            test mode is skipped.


            Please note that this only have effect on test systems.
          schema:
            type: string
            example: "true"
      requestBody:
        description: The number of each article row to split and how to handle handling
          and shipping
        required: true
        content:
          application/json:
            schema:
              type: object
              example:
                Articles:
                  - 1
                  - 1
                Handling: true
                Shipping: true
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/InvoiceResponse"
                  - type: object
                    properties:
                      orderid:
                        allOf:
                          - $ref: "#/components/schemas/InvoiceStatus"
                          - example: 4672437-copy
                      status:
                        allOf:
                          - $ref: "#/components/schemas/InvoiceStatus"
                          - example: Created
        "400":
          description: Bad request
        "401":
          description: Token is missing
        "404":
          description: Invoice is not found
      security:
        - bearerAuth: []
  /invoices/activate/precheck:
    post:
      summary: Precheck an invoice(s) before activation
      description: Precheck an invoice(s)
      tags:
        - invoices
      parameters:
        - in: header
          name: X-overrideTest
          description: >
            If this header value is set to "true" the internal checking for
            test mode is skipped.


            Please note that this only have effect on test systems.
          schema:
            type: string
            example: "true"
      requestBody:
        description: The requested invoice number(s) of the invoice(s) to pre check
          before activating them
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                type: integer
                format: int64
              example:
                - 88154
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: object
                  properties:
                    code:
                      type: number
                    message:
                      type: string
                    type:
                      type: string
                example:
                  "88154":
                    code: 1005
                    message: Orgnum is test. Not possible to activate a invoice with test social
                      security number
                    type: error
        "400":
          description: Bad request
        "401":
          description: Token is missing
        "404":
          description: Invoice is not found
      security:
        - bearerAuth: []
  /languages:
    get:
      summary: Get the languages
      description: Returns a list of languages
      tags:
        - languages
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Language"
        "401":
          description: Token is missing
        "404":
          description: Not found
        "500":
          description: Internal server error
      security:
        - bearerAuth: []
  "/logos/{mm3customersid}":
    get:
      summary: Get the merchant logos by mm3customersid
      description: Returns the logos of the merchant
      tags:
        - logos
      parameters:
        - name: mm3customersid
          in: path
          description: The requested id of the customer
          required: true
          schema:
            type: integer
            format: int64
            example: 17882
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/LogosResponse"
        "401":
          description: Token is missing
        "404":
          description: Not found
        "500":
          description: Internal server error
      security:
        - bearerAuth: []
    post:
      summary: Post the merchant logo
      description: Place a new logo in the logos of a Merchant
      tags:
        - logos
      parameters:
        - name: mm3customersid
          in: path
          description: The requested id of the customer
          required: true
          schema:
            type: integer
            format: int64
            example: 17882
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                image:
                  type: string
                  format: binary
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PostLogoResponse"
        "401":
          description: Token is missing
        "404":
          description: Not found
        "500":
          description: Internal server error
      security:
        - bearerAuth: []
  "/logos/{mm3customersid}/{fileName}":
    get:
      summary: Post the merchant logo
      description: Place a new logo in the logos of a Merchant
      tags:
        - logos
      parameters:
        - name: mm3customersid
          in: path
          description: The requested id of the customer
          required: true
          schema:
            type: integer
            format: int64
            example: 17882
        - name: fileName
          in: path
          description: The requested fileName of the logo of the merchant to return
          required: true
          schema:
            type: string
            example: logo.png
      responses:
        "200":
          description: Successful operation
          content:
            image/*:
              schema:
                type: string
                format: binary
        "401":
          description: Token is missing
        "404":
          description: Not found
        "500":
          description: Internal server error
      security:
        - bearerAuth: []
    delete:
      summary: Delete a logo
      description: Removes a logo
      tags:
        - logos
      parameters:
        - name: mm3customersid
          in: path
          description: The requested id of the customer
          required: true
          schema:
            type: integer
            format: int64
            example: 17882
        - name: fileName
          in: path
          description: The requested fileName of the logo of the merchant to return
          required: true
          schema:
            type: string
            example: logo.png
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                example: {}
        "401":
          description: Token is missing
        "404":
          description: Not found
        "500":
          description: Internal server error
      security:
        - bearerAuth: []
  /merchant:
    get:
      summary: Get the merchant
      description: Returns the merchant that owns the token
      tags:
        - merchant
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Merchant"
        "401":
          description: Token is missing
        "404":
          description: Not found
        "500":
          description: Internal server error
      security:
        - bearerAuth: []
    patch:
      summary: Patch the merchant
      description: Updates the merchant that owns the token
      tags:
        - merchant
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Merchant"
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Merchant"
        "401":
          description: Token is missing
        "404":
          description: Not found
        "500":
          description: Internal server error
      security:
        - bearerAuth: []
  /merchant/api-logs:
    get:
      summary: Get the api logs of the merchant
      description: Returns the api logs of the merchant that owns the token
      tags:
        - merchant
      parameters:
        - $ref: "#/parameters/merchantlimit"
        - $ref: "#/parameters/merchantstart"
        - $ref: "#/parameters/merchantapilogsfilter"
        - $ref: "#/parameters/merchantfrom"
        - $ref: "#/parameters/merchantto"
        - $ref: "#/parameters/merchantsearch"
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Api-Logs"
        "401":
          description: Token is missing
        "404":
          description: Not found
        "500":
          description: Internal server error
      security:
        - bearerAuth: []
  /merchant/api-logs/count:
    get:
      summary: Get the number of matching api-logs according to the supplied filters
      description: Returns object with a count representing the number of api-logs
        that matches the current filter.
      tags:
        - merchant
      parameters:
        - $ref: "#/parameters/merchantapilogsfilter"
        - $ref: "#/parameters/merchantfrom"
        - $ref: "#/parameters/merchantto"
        - $ref: "#/parameters/merchantsearch"
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: integer
                    description: The number of api-logs that matches the filters used
                    example: 7
        "400":
          description: Bad request
        "401":
          description: Token is missing
      security:
        - bearerAuth: []
  /merchant/api-callbacks:
    get:
      summary: Get the api calbacks of the merchant
      description: Returns the api callbacks of the merchant that owns the token
      tags:
        - merchant
      parameters:
        - $ref: "#/parameters/merchantlimit"
        - $ref: "#/parameters/merchantstart"
        - $ref: "#/parameters/merchantapicallbacksfilter"
        - $ref: "#/parameters/merchantfrom"
        - $ref: "#/parameters/merchantto"
        - $ref: "#/parameters/merchantsearch"
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Api-Callbacks"
        "401":
          description: Token is missing
        "404":
          description: Not found
        "500":
          description: Internal server error
      security:
        - bearerAuth: []
  /merchant/api-callbacks/count:
    get:
      summary: Get the number of matching api-callbacks according to the supplied
        filters
      description: Returns object with a count representing the number of
        api-callbacks that matches the current filter.
      tags:
        - merchant
      parameters:
        - $ref: "#/parameters/merchantapicallbacksfilter"
        - $ref: "#/parameters/merchantfrom"
        - $ref: "#/parameters/merchantto"
        - $ref: "#/parameters/merchantsearch"
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: integer
                    description: The number of api-callbacks that matches the filters used
                    example: 7
        "400":
          description: Bad request
        "401":
          description: Token is missing
      security:
        - bearerAuth: []
  /merchant/api-informations:
    get:
      summary: Get the api information of the merchant
      description: Returns the api information of the merchant that owns the token
      tags:
        - merchant
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    example: 17882
                  secret:
                    type: string
                    example: 165964686216
        "401":
          description: Token is missing
        "404":
          description: Not found
        "500":
          description: Internal server error
      security:
        - bearerAuth: []
  /merchant/invoice-settings:
    get:
      summary: Get the merchant invoice settings
      description: Returns the invoice settings of merchant that owns the token
      tags:
        - merchant
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InvoiceServiceSettings"
        "401":
          description: Token is missing
        "404":
          description: Not found
        "500":
          description: Internal server error
      security:
        - bearerAuth: []
    patch:
      summary: Patch the merchant invoice settings
      description: Updates the invoice settings of merchant that owns the token
      tags:
        - merchant
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/InvoiceServiceSettings"
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InvoiceServiceSettings"
        "401":
          description: Token is missing
        "404":
          description: Not found
        "500":
          description: Internal server error
      security:
        - bearerAuth: []
  /register/customer:
    post:
      summary: Register a customer with company name, organization number, contact
        name, customer email and telephone
      description: Registers a customer with company name, organization number,
        contact name, customer email and telephone
      tags:
        - register
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                companyName:
                  type: string
                  example: Test-Company Name
                orgnum:
                  type: string
                  example: Test-Organization number
                contactName:
                  type: string
                  example: Test-Contact name
                customerEmail:
                  type: string
                  example: Test-Customer email
                telephone:
                  type: string
                  example: Test-Telephone
                optional:
                  type: string
                  example: Test-Optional Field
      responses:
        "200":
          description: Successful operation
          content:
            plain/text:
              schema:
                type: string
                example: ok
        "400":
          description: Missing some required properties
          content:
            plain/text:
              schema:
                oneOf:
                  - type: string
                    example: Missing company name
                  - type: string
                    example: Missing organization number
                  - type: string
                    example: Missing contact name
                  - type: string
                    example: Missing email
                  - type: string
                    example: Missing telephone number
        "500":
          description: Internal server error
      security:
        - bearerAuth: []
  /reports:
    get:
      summary: Get the reports of a merchant
      description: Returns a list of reports of a merchant
      tags:
        - reports
      parameters:
        - $ref: "#/parameters/reportlimit"
        - $ref: "#/parameters/reportstart"
        - $ref: "#/parameters/reportfilter"
        - $ref: "#/parameters/reportfrom"
        - $ref: "#/parameters/reportto"
        - $ref: "#/parameters/reportsearch"
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Report"
        "401":
          description: Token is missing
        "404":
          description: Not found
        "500":
          description: Internal server error
      security:
        - bearerAuth: []
  /reports/count:
    get:
      summary: Get the number of matching reports according to the supplied filters
      description: Returns object with a count representing the number of reports that
        matches the current filter.
      tags:
        - reports
      parameters:
        - $ref: "#/parameters/reportfilter"
        - $ref: "#/parameters/reportfrom"
        - $ref: "#/parameters/reportto"
        - $ref: "#/parameters/reportsearch"
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: integer
                    description: The number of reports that matches the filters used
                    example: 7
        "400":
          description: Bad request
        "401":
          description: Token is missing
      security:
        - bearerAuth: []
  "/reports/{mexcCustomerjournalsid}":
    get:
      summary: Find report by mexcCustomerjournalsid
      description: Returns a single report
      tags:
        - reports
      parameters:
        - name: mexcCustomerjournalsid
          in: path
          description: The requested id of the report to return
          required: true
          schema:
            type: integer
            format: int64
          example: 146647
      responses:
        "200":
          description: Successful operation
          content:
            application/pdf:
              schema:
                type: string
                format: binary
        "401":
          description: Token is missing
        "404":
          description: Customer is not found
      security:
        - bearerAuth: []
  /reports/settlements:
    get:
      summary: Get the settlement report list
      description: Returns the list of the settlement reports
      tags:
        - reports
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SettlementReportList"
        "401":
          description: Token is missing
        "404":
          description: Not found
        "500":
          description: Internal server error
      security:
        - bearerAuth: []
  "/reports/settlements/{settlementId}":
    get:
      summary: Get the settlement report
      description: Returns the settlement reports
      tags:
        - reports
      parameters:
        - name: settlementId
          in: path
          description: The settlementId of the report
          required: true
          schema:
            type: number
            example: 123
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SettlementReportItemExport"
        "401":
          description: Token is missing
        "404":
          description: Not found
        "500":
          description: Internal server error
      security:
        - bearerAuth: []
  /reports/settlements/dates:
    get:
      summary: Get the available dates for settlement reports
      description: Returns the dated for settlement reports
      tags:
        - reports
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SettlementDates"
        "401":
          description: Token is missing
        "404":
          description: Not found
        "500":
          description: Internal server error
      security:
        - bearerAuth: []
  "/reports/settlements/{settlementId}/export/csv":
    get:
      summary: Export the settlement report in CSV format
      description: Returns the settlement reports in CSV format
      tags:
        - reports
      parameters:
        - name: settlementId
          in: path
          description: The settlementId of the report
          required: true
          schema:
            type: number
            example: 123
        - name: asExcel
          in: query
          description: Export CSV in Excel style
          required: false
          schema:
            type: number
            example: 1
        - name: delimiter
          in: query
          description: Change the field separator from the default semi-colon
          required: false
          schema:
            type: string
            example: ","
            default: ;
      responses:
        "200":
          description: Successful operation
          content:
            text/csv:
              schema:
                $ref: "#/components/schemas/SettlementReportListExportCSV"
        "401":
          description: Token is missing
        "404":
          description: Not found
        "500":
          description: Internal server error
      security:
        - bearerAuth: []
  "/reports/settlements/{settlementId}/export/xml":
    get:
      summary: Export the settlement report in XML format
      description: Returns the settlement reports in XML format
      tags:
        - reports
      parameters:
        - name: settlementId
          in: path
          description: The settlementId of the report
          required: true
          schema:
            type: number
            example: 123
      responses:
        "200":
          description: Successful operation
          content:
            application/xml:
              schema:
                $ref: "#/components/schemas/SettlementReportListCSV"
        "401":
          description: Token is missing
        "404":
          description: Not found
        "500":
          description: Internal server error
      security:
        - bearerAuth: []
  "/reports/settlements/{settlementId}/export/pdf":
    get:
      summary: Export the settlement report as a PDF
      description: Returns the settlement reports as a PDF. This is the standard
        report that is generated by the system.
      tags:
        - reports
      parameters:
        - name: settlementId
          in: path
          description: The settlementId of the report
          required: true
          schema:
            type: number
            example: 123
      responses:
        "200":
          description: Successful operation
          content:
            application/pdf:
              schema:
                type: string
                format: binary
        "401":
          description: Token is missing
        "404":
          description: Not found
        "500":
          description: Internal server error
      security:
        - bearerAuth: []
  /reports/statistics/weekly:
    get:
      summary: Get the statistics of reports weekly
      description: Returns the statistics weekly
      tags:
        - reports
      parameters:
        - $ref: "#/parameters/reportstatisticsfilter"
        - $ref: "#/parameters/reportstatisticsfrom"
        - $ref: "#/parameters/reportstatisticsto"
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    week:
                      type: number
                    total:
                      type: number
                  example:
                    week: 27
                    total: 2312312.5
        "401":
          description: Token is missing
        "404":
          description: Not found
        "500":
          description: Internal server error
      security:
        - bearerAuth: []
  /reports/statistics/monthly:
    get:
      summary: Get the statistics of reports monthly
      description: Returns the statistics monthly
      tags:
        - reports
      parameters:
        - $ref: "#/parameters/reportstatisticsfilter"
        - $ref: "#/parameters/reportstatisticsfrom"
        - $ref: "#/parameters/reportstatisticsto"
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: array
                  items:
                    type: object
                    properties:
                      month:
                        type: number
                      total:
                        type: number
                example:
                  "2022":
                    - month: 2
                      total: 2312312.5
        "401":
          description: Token is missing
        "404":
          description: Not found
        "500":
          description: Internal server error
      security:
        - bearerAuth: []
  /users:
    get:
      summary: Get the users of a merchant
      description: Returns a list of users of a merchant
      tags:
        - users
      parameters:
        - in: query
          name: limit
          schema:
            default: 100
            type: integer
          example: 2
        - in: query
          name: start
          schema:
            default: 0
            type: integer
          example: 0
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/User"
        "401":
          description: Token is missing
        "404":
          description: Not found
        "500":
          description: Internal server error
      security:
        - bearerAuth: []
    post:
      summary: Place a user for a Merchant
      description: Place a new user in the customers of a Merchant
      tags:
        - users
      parameters:
        - in: query
          name: nomail
          description: If set to non-zero value, no email with password link will be sent
            to the user when record is created
          schema:
            type: number
            example: 1
      requestBody:
        content:
          application/json:
            schema:
              allOf:
                - $ref: "#/components/schemas/User"
                - type: object
                  properties:
                    password:
                      type: string
                      example: password
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/User"
        "401":
          description: Token is missing
        "500":
          description: Internal server error
      security:
        - bearerAuth: []
  "/users/{mm3useraccountsid}":
    get:
      summary: Find user by mm3useraccountsid
      description: Returns a single user
      tags:
        - users
      parameters:
        - name: mm3useraccountsid
          in: path
          description: The requested id of the user to return
          required: true
          schema:
            type: integer
            format: int64
          example: 1202237
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/User"
        "401":
          description: Token is missing
        "404":
          description: User is not found
      security:
        - bearerAuth: []
    patch:
      summary: Update an existing user
      description: Update an existing user by mm3useraccountsid
      tags:
        - users
      parameters:
        - name: mm3useraccountsid
          in: path
          description: The requested id of the user to return
          required: true
          schema:
            type: integer
            format: int64
          example: 1202237
      requestBody:
        content:
          application/json:
            schema:
              allOf:
                - $ref: "#/components/schemas/User"
                - type: object
                  properties:
                    password:
                      type: string
                      example: password
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/User"
        "401":
          description: Token is missing
        "404":
          description: User is not found
        "500":
          description: Internal server error
      security:
        - bearerAuth: []
    delete:
      summary: Delete a user
      description: Removes a user. Please note that the user isn't deleted but rather
        set to inactive.
      tags:
        - users
      parameters:
        - name: mm3useraccountsid
          in: path
          description: The requested id of the user to return
          required: true
          schema:
            type: integer
            format: int64
          example: 10000
        - name: forceDelete
          in: query
          description: If set to 1 then the user will be deleted instead of just
            inactivated.
          required: false
          schema:
            type: integer
            format: int64
          example: 1
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/User"
        "401":
          description: Token is missing
        "404":
          description: User is not found
      security:
        - bearerAuth: []
  /users/forgotpassword:
    post:
      summary: Reses the users password and send a mail with a new login link
      description: Resets the users password and sends a mail with a new login link
      tags:
        - users
      requestBody:
        content:
          application/json:
[...]
